<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
        <div class="navbar">
            <div class="logo">
                <img src="/static/ML_Hub.png" width="100" 
                height="100" />
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="/about">About</a></li>
                    <li><a href="http://localhost:8501/">Use Without Login</a></li>
                    <li><form method="get" action="/login"><button class="loginbtn" onclick="window.location.href='/login'.style.display='block' " style="width:auto;">Login</button></form>
                    </li>
                </ul>
            </nav>
        </div>
        </body>
        </html>
        
<html>
<head>
   <style>
      .about{
          background:linear-gradient(to bottom, #2bc0e4 0%, #eaecc6 100%);
          
          
          top: 5px;
          left: 5px;
      } 
      
      .hubimage{
          padding-top: 10px;
          padding-bottom: 10px;
      }
   .container{
 	height:10%;
	

	width:100%;
	}
   
   .container img{
	width:100%;
	height:10%;
	}
   
   .one{
	position:absolute;
	top:50%;
	right:30%;
	left:50%;
	transform:translate(-50%, -50%);
    padding-top: 50px;
    
	
	}

   .offering{
       padding: 50px;
       font-weight: 900;
   }
   .team{
       padding-top: 50px;

   }
   .offer{
      border-radius: 25px;
       background-color:#ffffff;
       
   }
  
   </style>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
   </head>
<body>
    

<div class="container">
<div class="one">
</div>

<div class="moto">
<div class="offer">
<div class="offering">
<h1 style="font-size:50px;text-align:left;text-align: center;color: rgb(8, 8, 8);font-family: monotype corsiva;">
What We Offer</h1>
</div>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="/static/css/style11.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
    <meta charset="UTF-8">
	

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" href="/static/css/style2.css">
  </head>
  <body>
   
      <div class="main-box">
        <div class="box box-grey">
          
          <h2>Object Detection</h2>
          <hr>
          <p>Our Object Detection model can help you to identify objects from various categories</p>
          
        </div>

        <div class="box box-red">
          
          <h2>Face Detection</h2>
          <hr>
          <p>Our Face Detection model is based on YOLO which is the state-of-the-art for computer vision. <br>
   Just drag and drop image into our custom model and you will know if a peson exist in the photo.</p>
        
        </div>
        
        <div class="box box-grey">
          
          <h2>Entity Extraction</h2>
          <hr>
          <p>We provide a model which is capable of scrapping dates,names,organizations and location from piles of data</p>

          
        </div>
<div class="box box-red">
          
          <h2>Sentiment Analysis</h2>
          <hr>
          <p>Our Model can help you detect if a paragraph of text is positive speech or hate speech</p>

        </div>

      </div>

    </div>
    
  <div class="team">
<h1 style="color:rgb(0, 0, 0);text-align:center;font-size:60px;font-family:lucida calligraphy;">Meet our Team</h1>

</div>


<div class="wrapper">
    
    <div class="our_team">
        <div class="team_member">
          <div class="member_img">
             <img src="/static/aditya.jpeg" alt="our_team">
            <div class="social_media">
               
               <div class="Linkedin item"><a href="https://www.linkedin.com/in/adityapat10/"><i class="fab fa-linkedin"></i></a></div>
             </div>
          </div>
          <h4>Aditya Patkar</h4>
          <h4 style="color:magenta">Lead Developer</h4>
          <a href="mailto:aditya.pat10@gmail.com"><p>aditya.pat10@gmail.com</p></a>
        </div>
        <div class="team_member">
           <div class="member_img">
             <img src="/static/radhika.jpeg" alt="our_team">
             <div class="social_media">
                <div class="Linkedin item"><a href="https://www.linkedin.com/in/radhika-sahasrabudhe-b427a9169"><i class="fab fa-linkedin"></i></a></div>

             </div>
          </div>
          
           <h4>Radhika Sahastrabudhe</h4>
          <h5 style="color: magenta">Design Expert</h5>
          <a href="mailto:rrsahasrabudhe94@gmail.com"><p>rrsahasrabudhe94@gmail.com</p></a>

      </div>
        
      
      <div class="team_member">
           <div class="member_img">
             <img src="/static/rakesh.jpeg" alt="our_team">
             <div class="social_media">
               
               <div class="Linkedin item"><i class="fab fa-linkedin"></i></a></div>
             </div>
          </div>
          
          
          <h4>Rakesh Kumar</h4>
        
          <h5 style="color:magenta">Frontend Developer</h5>
          <a href="mailto:rakeshkumar.cs2017.pgdav@gmail.com"><p>rakeshkumar.cs2017.pgdav@gmail.com</p></a>

      </div>
        <div class="team_member">
           <div class="member_img">
             <img src="/static/apoorva.jpeg" alt="our_team">
             <div class="social_media">
               <div class="Linkedin item"><a href="https://www.linkedin.com/in/apoorva-parashar-222767205
                "><i class="fab fa-linkedin"></i></a></div>
               
             </div>
          </div>
          <h4>Apoorva Parashar</h4>
          <h5 style="color:magenta">Backend and Diagrams</h5>
          <a href="mailto:apoorvaparashar83@gmail.com"><p>apoorvaparashar83@gmail.com</p></a>

      </div>  
    </div>
</div>	
</div>
</body>
</html>