<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>diagnose.ai</title>
    <link rel="stylesheet" href="/static/css/style2.css">
    <link rel="icon" href="/static/fevicon.png">
</head>
<body>
    <header id="header" class="header">
        <div class="header__container container container--px">
           <nav class="navbar flex">
              <a href="/" class="navbar__brand" title="Back to the homepage">Diagnose.ai</a>
              <button id="toggleMenuBtn" class="navbar__toggle-menu toggle-menu" type="button" aria-haspopup="true" aria-expanded="false" aria-label="Toggle navigation">
                 <div class="toggle-menu__hamburger hamburger" aria-hidden="true">
                    <div class="hamburger__item"></div>
                    <div class="hamburger__item"></div>
                    <div class="hamburger__item"></div>
                 </div>
              </button>
              <ul id="menuList" class="navbar__menu menu" role="menu">
                 <li class="menu__item" role="none">
                    <a href="/" class="menu__link menu__link--active" role="menuitem">Home</a>
                 </li>
                 <li class="menu__item" role="none">
                    <a href="#" class="menu__link" role="menuitem">Services</a>
                 </li>
                 <li class="menu__item" role="none">
                    <a href="/about/" class="menu__link" role="menuitem">About Team</a>
                 </li>
                 <li class="menu__item" role="none">
                    <a href="/signup/" class="menu__link" role="menuitem">Sign Up</a>
                 </li>
                 <li class="menu__item" role="none">
                    <a href="/login/" class="menu__link cta cta--primary" role="menuitem">Login</a>
                 </li>
              </ul>
           </nav>
           <div id="overlayLayer" class="header__overlay"></div>
        </div>
     </header>
    {% block content %}

    {% endblock %}
    <div class="footer-brand-logos">

    <!-- TOPSHOP -->
    <a href="https://www.mongodb.com/">
        <img src="https://webimages.mongodb.com/_com_assets/cms/MongoDB_Logo_FullColorBlack_RGB-4td3yuxzjs.png?auto=format%2Ccompress" alt="MongoDB">
    </a>
  
    <!-- TOPMAN -->
    <a href="https://www.heroku.com/what">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Heroku_logo.svg/512px-Heroku_logo.svg.png" alt="Heroku">
    </a>
  
    <!-- BEAUTY the Guide -->
    <a href="https://aws.amazon.com/">
        <img src="https://d0.awsstatic.com/logos/powered-by-aws.png" alt="BEAUTY the Guide">
    </a>
  
    <!-- The Room -->
    <a href="https://palletsprojects.com/p/flask/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Flask_logo.svg/220px-Flask_logo.svg.png" alt="The Room">
    </a>
  <div class="center"><p><i> Credits @2021 Aditya Patkar</i></p></div>
  </div>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/handle.js"></script>
   
</body>
</html>
